#main{
    float: left;
    margin-left: 5em;
    margin-bottom: 2em;
    margin-top: 5em;
    width: 80%;
    background-color: white;
    height: auto;
    padding: 20px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d6fdfd;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #d6fdfd;
    border-bottom: 1px solid #90caca;
  }
  
  .topnav a:not(#account) {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #90caca;
    color: black;
  }
  
  .topnav a.active {
    background-color: #90caca;
    color: white;
  }
  
  .topnav .search-container {
    float: left;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: left;
    padding: 6px 10px;
    margin-top: 8px ;
    background: #d6fdfd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  

  .topnav img{
    width:1em;
  }
  .right{
    float:right;
  }
  #home{
    float:left;
  }
  .content{

    margin-left: 5em;
    margin-top: 2em;
  }
 

  .title{
    padding:5px;
    border-bottom: 1px dashed black;
  }
  
  .qcon img{
    width:20em;
    
  }
  .user{
    width:3em !important;
    border-radius:50%;
  }
  .user1{
    width: 10em;
    border-radius:50%;
  }
  .userinfo figure{
    margin:0;
  }
  .userinfo figcaption{
    font-size: 7pt;
  }
  .questre {
    background-color: white;
    width: 70%;
    display: inline-block;
  }
  
  .qcon {
    padding: 5px;
    border-bottom: 1px solid black;
    height: 20em;
    overflow: auto;
  }
  
  .rightbar {
    float: right;
    background-color: white;
    margin-right: 3em;
    width: 18em;
  }
  .rightbar h4{
    padding:1em;
  }
  .qcon-text{
    width:80%;
    display: inline-block;
  }
  .userinfo{
    float: right;
    padding: 10px;
  }

  h2{
    text-align: center;
  }

  .leftAcc{
    float: left;
    width: 20em;
  }

  .rightAcc{
    margin-left: 20em;
  }

  .rightAcc h3,p{
    display: inline-block;
  }

  .posted{
    border-bottom: 1px solid grey;
  }
  .posts{
    margin-top:10em;
  }
  .my-button {
  background: linear-gradient(to bottom, #d6fdfd, #90caca);
  border: 1px solid #90caca;
  border-radius: 4px;
  color: black;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.my-button:hover {
  background: #90caca;
  border-color: #90caca;
  cursor: pointer;
}